[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
flask = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
blinker = "*"

[requires]
python_version = "3.8"
